.container {
    display: flex;
    min-width: 450px;
}

.left-column {
    display: inline-block;
    min-height: 100vh;
    min-width: 18%;
    background-color: var(--main-color);
    
}

.main-content {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.filter {
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.meal-list{
    display: flex;
}

.load-section {
    display: flex;
    height: 50px;
    background-color: azure;
}


.right-column {
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: bisque;
}

@media(max-width:1400px){
    .right-column {
    display: none;
}
}

@media(max-width:1100px){
    span {
        display: none;
    }
}

@media(max-width:600px){
        .recomended {
            display: flex;
            flex-direction: column;
        }
}

@media(max-width:700px){
    .main-content .filter {
        display: none;
}
}

@media(max-width:1500px){
    .meal-list{
        flex-wrap: wrap;
}
}
