.container {
    width: 100%;
    display: flex;
    min-width: 450px;
}

.left-column {
    display: inline-block;
    min-height: 100vh;
    width: 300px;
    max-width: 300px;
    background-color: var(--main-color);
    
}

.main-content {
    width: 1200px;
    display: flex;
    flex-direction: column;
}

.filter {
    display: flex;
    height: 80px;
    background-color: pink;
}

.meal-list{
    display: flex;
    height: 7000px;
    background-color: orange
}

.load-section {
    display: flex;
    height: 50px;
    background-color: azure;
}


.right-column {
    width: 450px;
    display: flex;
    flex-direction: column;
    background-color: bisque;
}

@media(max-width:1400px){
    .right-column {
    display: none;
}
}

@media(max-width:1005px){
    span {
        display: none;
    }
}

