.container {
    display: flex;
    min-width: 450px;
}

.left-column {
    display: inline-block;
    min-height: 100vh;
    min-width: 18%;
    background-color: var(--main-color);
    
}

.main-content {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.filter {
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.meal-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 70px 70px 20px 70px;
    gap: 30px;
}

.load-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.right-column {
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
}

@media(max-width:1400px){
    .right-column {
    display: none;
}
}

@media(max-width:1100px){
    .left-column span {
        display: none;
    }
}

@media(max-width:600px){
        .recomended {
            display: flex;
            flex-direction: column;
        }
}

@media(max-width:700px){
    .main-content .filter {
        display: none;
}
}

@media(max-width:1500px){
    .meal-list{
        flex-wrap: wrap;
}
}
