/* FONT */

@import '../../css/Ubuntu.css';

/* BASE */

@import '../base/layout.css';
@import '../base/base.css';

/* COMPONENTS */

/* VENDORS */

@import '../vendor/font-awesome.min.css';

:root {
    font-family: Ubuntu;
    --main-color: #44d187;
    
    .nothing{
        color: #44d187;
        color: #ffd42e;
    color:#d74369;
    color:#fafafa;
    color:#e5bde5;
    color:#e5d4a7;
    color:#93e5e5;
    color:#a8e5e5;
    color:#cae58f;
    color:#c5d7e5;
    color:#e5c1c1;
    color:#e5e58b;
    color:#e5bde5;
     
    }
    
    
}

.menu {
    display: flex;
    flex-direction: column;
    margin: 80px 0 0 20px;
    gap: 15px;
    margin-right: 0;
}

.menu > .menu-link {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 0.7em;
    border-radius: 20px 0 0 20px;
    transition: all 1s;
}

.menu > .menu-link:hover{
    background-color: white;
    color: var(--main-color);
    transition: all 0.3s;
}

.menu > .active {
    background-color: white;
    color: #44d187;
}

.font-awe {
    margin: 0 15px 0 15px;
    display: inline-block;
}

.p-filter {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.filter {
    display: flex;
    gap: 10px;
}

.filter a{
    display: flex;
    text-decoration: none;
    color: black;
    align-items: center;
}

.filter a:hover {
    padding: 5px 15px;
    border-radius: 20px;
    background-color: #44d187;
    color: #fafafa;
}

.recomended {
    display: flex;
    justify-content: space-between;
}

.meal-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 45px;
    gap: 30px;
}

.meal-one {
    height: 255px;
    width: 230px;
    background-color: black;
    border-radius: 5px;
}

.meal-two {
    height: 255px;
    width: 230px;
    background-color: black;
    border-radius: 5px;
}

.meal-three {
    height: 255px;
    width: 230px;
    background-color: black;
    border-radius: 5px;
}

.meal-four {
    height: 255px;
    width: 230px;
    background-color: black;
    border-radius: 5px;
}

.meal-five {
    height: 255px;
    width: 230px;
    background-color: black;
    border-radius: 5px;
}

.meal-six {
    height: 255px;
    width: 230px;
    background-color: black;
    border-radius: 5px;
}
.meal-seven {
    height: 255px;
    width: 230px;
    background-color: black;
    border-radius: 5px;
}

.meal-eight {
    height: 255px;
    width: 230px;
    background-color: black;
    border-radius: 5px;
}

.meal-nine {
    height: 255px;
    width: 230px;
    background-color: black;
    border-radius: 5px;
}
